<table class="table">
  <thead>
    <tr class="table_header">
      <th>Name</th>
      <th>Url</th>
      <th>Действие</th>
    </tr>
  </thead>
  <hr />
  <tbody class="table_body">
    <tr class="table_item">
      <th><p>Name</p></th>
      <th><p>Url</p></th>
      <th><button>Добавить</button></th>
    </tr>
    <tr class="table_item">
      <th><p>Name</p></th>
      <th><p>Url</p></th>
      <th><button>Добавить</button></th>
    </tr>
    <tr class="table_item">
      <th><p>Name</p></th>
      <th><p>Url</p></th>
      <th><button>Добавить</button></th>
    </tr>
  </tbody>
</table>
